.link-btn-style{
  background-color: #eb6434 ;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 4px
}

.link-btn-style:hover{
  background-color: #fff;
  color: #eb6434;
}
.test{
  color: #8080804b;
}